* {
	font-family: 'Inter', sans-serif;
}
html,
body {
	display: flex;
	margin: 0 auto;
	padding: 0;
}

form {
	width: 938px;
	height: 40px;
}

form input {
	min-width: 100%;
	min-height: 100%;
	font-size: 16px;
}